@import "variables";
@import "button";

@mixin theme($theme) {
  .#{$theme} {
    @content;
  }
}

@include theme("theme-pink") {
  color: $text-color;

  .theme-color {
    color: $theme-color;
  }

  .theme-background {
    background: $theme-background;
  }

  .markdown {
    blockquote {
      padding: 0.5em 1em 0.5em 0.8em;
      margin: 1em 0;
      background-color: rgba(204, 122, 111, 0.05);
      border-left: 5px solid rgba(191, 87, 73, 0.1);
    }
  }
}

a {
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}
