@import "variables";
@import "button";

@mixin theme($theme) {
  .#{$theme} {
    @content;
  }
}

@include theme("theme-pink") {
  color: $text-color;

  .theme-color {
    color: $theme-color;
  }

  .theme-background {
    background: $theme-background;
  }
}

a {
  color: $theme-color;

  &:hover {
    text-decoration: underline;
  }
}
