@import "variables";
@import "button";

@mixin theme($theme) {
  .#{$theme} {
    @content;
  }
}

@include theme("theme-pink") {
  color: $text-color;

  .theme-color {
    color: $theme-color;
  }

  .theme-background {
    background: $mark-bg;
  }
}
