$gap: 2em;
$line-height: 1.6em;

$theme-color-google: #4285F4;
$theme-color-google-developers: #1A73E8;
$theme-color-angular: #1976D2;
$theme-color-web-dev: #3740FF;

$theme-color: $theme-color-web-dev;

$text-color-primary: #111;

$background-lv1: #F5F7F9;
$background-lv2: #E6ECF1;
$background-lv3: #ECF3FF;
$background-lv4: #D3DCE4;
$background-lv5: #34496A;
$background-lv6: #183055;


$transition-duration: .3s;


$border-radius: 2px;
