$gap: 1.2em;
$line-height: 2.2em;

$theme-color: #3884FF;

$text-color-primary: #111;
$text-color-lv1: #9DAAB6;
$text-color-lv2: #242A31;
$text-color-lv3: $theme-color;

$background-lv1: #F5F7F9;
$background-lv2: #E6ECF1;
$background-lv3: #ECF3FF;
$background-lv4: #D3DCE4;
$background-lv5: #34496A;
$background-lv6: #183055;


$transition-duration: .3s;


$border-radius: 6px;