@import "../../styles/boot";

.tableOfContents {
  position: relative;

  .content {
    position: sticky;
    top: 1.2em;
    max-width: 8em;
    padding: 0 1.2em;
    overflow: auto;

    @include respond-to(xl) {
      max-width: 14em;
    }

    &::before {
      position: absolute;
      left: 16px;
      top: 0;
      bottom: 0;
      content: "";
      width: 2px;
      background: #ddd;
    }

    ul {
      margin: 10px 0 10px 10px;
      list-style: none;

      li {
        margin: 10px 0 10px 10px;
      }
    }
  }
}
