@import "../../styles/boot";
@import "variables";

.tableOfContents {
  position: fixed;
  top: 1.2em;
  right: $toc-right-lg;
  box-sizing: border-box;
  padding-left: 1em;
  width: $toc-width-lg;
  overflow: auto;

  @include respond-to(xl) {
    width: $toc-width-xl;
    right: $toc-right-xl;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    content: "";
    width: 2px;
    background: #ddd;
  }

  .content {
    ul {
      margin: 10px 0 10px 10px;
      list-style: none;

      li {
        margin: 10px 0 10px 10px;
      }
    }
  }
}
