@import "variables";
@import "./partials/sidebar/mixins";

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // todo: manage z-index
  z-index: 999;
  background: #20232A;
  line-height: $header-height;
  color: #fff;

  .lf {
    display: flex;
    align-items: center;
    justify-content: center;

    .logoWrapper {
      display: flex;
      align-items: center;
    }

    .logo {
      margin-right: 8px;
      margin-bottom: 4px;
      width: 20px;
      height: 20px;
      background: url("@/images/logo.svg") center / contain no-repeat;
    }

    .slogan {
      margin-left: 3em;
      font-size: .8em;
    }
  }

  .rt {
    .search {
      color: #cecece;
      transition: color .3s;

      &:hover, &:active {
        color: #fff;
      }

      i {
        margin-right: .22em;
      }
    }
  }
}

.markdownLayout {
  position: relative;
  z-index: 0;
  display: flex;
  padding-top: $header-height;
}
