// scrollbar
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #d3d3d3;

  &:hover {
    background: #aaa;
  }
}

body {
  text-rendering: optimizelegibility;
}
