@font-face {
  font-family:'SF Pro SC';
  font-style:normal;
  src:local('☺︎'), url("../assets/fonts/sf-pro-text_regular.woff2") format("woff2");
}

@font-face {
  font-family:'PingFang SC';
  font-style:normal;
  src:local('☺︎'), url("../assets/fonts/PingFangSC-Regular.woff2") format("woff2");
}