html {
  //font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: quote, 'Rubik', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', sans-serif;
  font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  line-height: 0;
}
