html {
  // font-family: PingFang SC, Microsoft YaHei, quote, 'Roboto', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  line-height: 0;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}
