@import "../../styles/boot";

.markdownPage {
  display: flex;
  min-height: 100vh;

  .content {
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
    padding: 0 1.4em;

    @include respond-to(md) {
      padding: 0 40px;
    }

    .title {
      padding: 20px 0;
      font-size: 2em;
      border-bottom: 1px solid #999;
    }
  }
}
