@import "../../styles/boot";

.markdownPage {
  display: flex;
  min-height: 100vh;

  .content {
    min-width: 0;
    box-sizing: border-box;
    flex: 1;
    padding: 0 1.4em;

    @include respond-to(md) {
      padding: 0 40px;
    }
  }
}
