@import "~@/styles/boot";
@import "variables";
@import "../../variables";

.markdownPage {
  position: relative;
  flex: 1;
  min-width: 0;

  .wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 0 auto;
    max-width: 1600px;
    min-height: calc(100vh - #{$header-height});
    padding: $page-side-gap $page-side-gap $page-side-gap * 3;

    .markdownWrapper {
      flex: 1;
      min-width: 0;
      box-sizing: border-box;
    }

    .toc {
      margin-left: $page-side-gap;
    }
  }
}


.footer {
  text-align: center;
  line-height: 88px;
  color: #111;
  background: #fafafa;
  border-top: 1px solid #eee;
  font-size: 1em;
}
