.sidebar {
  position: relative;

  .content {
    position: sticky;
    top: 0;
    padding: 14px 20px;
    min-width: 200px;
    max-width: 250px;
    overflow: auto;

    ul {
      margin: 8px 10px;
    }

    li {
      margin: 4px 10px;
      line-height: 1.3;
      list-style: none;
    }
  }
}
