@import "~@/styles/boot.scss";
@import "~@/templates/notebook/partials/markdown-page/variables";
@import "variables";
@import "mixins";

.codeBlock {
  position: relative;
  margin-left: -$page-side-gap;
  margin-right: -$page-side-gap;
  z-index: 1;
  border-radius: $border-radius;
  overflow: hidden;
  font-size: .9em;
  font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;

  @include respond-to(lg) {
    margin-left: 0;
    margin-right: 0;
  }

  .title {
    padding-left: $code-block-gap;
    line-height: 2.2em;
    font-size: 1em;
    border-bottom: 1px solid #ccc;
    color: #CCC;
    background: #282C34;
  }

  .codeBlockWrapper {
    display: flex;
  }

  .lineNumber {
    @include code-line_line-height;
    padding: $code-block-padding-top $code-block-gap 0;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    user-select: none;
    pointer-events: none;

    & > span {
      display: block;
      height: $code-line-height;
      pointer-events: none;
      counter-increment: linenumber;

      &::before {
        content: counter(linenumber);
        display: block;
        color: #999;
        text-align: right;
      }
    }
  }

  .preWrapper {
    position: relative;
    flex: 1;
    min-width: 0;
    padding-top: $code-block-padding-top;

    ::-webkit-scrollbar {
      height: 6px;
    }

    ::-webkit-scrollbar-track {
      background: #1b1e26;
    }

    ::-webkit-scrollbar-thumb {
      background: #677186;
    }

    .pre {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 0 #{$code-block-padding-top - $code-block-language-height};
      box-sizing: border-box;
      overflow: auto;

      .code {
        @include code-line_line-height;
        display: block;
        float: left;
        min-width: 100%;
        box-sizing: border-box;
        padding: 0 $code-block-gap;
        background: none;
      }
    }
  }

  .copyButton {
    @include button;
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    //background: #34496A;
    background: transparent;
    transition: color .3s, background-color .3s;

    &:hover {
      color: #fff;
      background: #005A9C;
    }
  }
}


