@import "../../variables";
@import "../../../../../../styles/boot";


.tableOfContents {
  position: relative;
  @include respond-to(lg) {
    width: $toc-width-lg;
  }

  @include respond-to(xl) {
    width: $toc-width-xl;
  }

  .wrapper {
    position: sticky;
    top: 2em;
    display: inherit;
    box-sizing: border-box;
    padding: 0 .8em;
    max-height: 30em;
    border-left: 2px solid #ddd;
    overflow-y: auto;

    .tree {
      background: red;
    }
  }

  .content {

    ul {
      padding-left: .4em;
      list-style: none;

      li {
        margin: .3em .6em;
      }
    }

    .label {
      display: inline-block;
      width: 100%;
      @include text-ellipsis;
    }
  }
}
