@import "~@/styles/boot";
@import "../../variables";

.tableOfContents {
  position: relative;
  @include respond-to(lg) {
    max-width: $toc-width-lg;
  }

  @include respond-to(xl) {
    max-width: $toc-width-xl;
  }

  .wrapper {
    position: sticky;
    top: 2em;
    display: inherit;
    box-sizing: border-box;
    padding: 0 1.2em;
    max-height: 30em;
    border-left: 2px solid #ddd;
    overflow-y: auto;
  }

  .content {
    ul {
      list-style: none;

      ul {

        li {
          margin-left: 1em;
        }
      }
    }

    .label {
      display: inline-block;
      width: 100%;
      @include text-ellipsis;
    }

    .active > div .label {
      font-weight: bold;
    }
  }
}
