.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .arrow {
    margin-right: .2em;
    transition: transform .25s;
  }

  &.open {
    .arrow {
      transform: rotate(90deg);
    }
  }
}
