.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ececec;

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .8em 0;
    cursor: pointer;
    color: #999;
    transition: color .14s;
    user-select: none;

    &:hover {
      color: #333;
    }

    .icon {
      font-size: 2em;
    }

    .text {
      margin-left: .4em;
      font-size: 1em;
    }

    &.expand {
      .text {
        margin-left: .1em;
      }
    }

    &.locate {
      .icon {
        font-size: 1.08em;
      }
    }
  }
}
